/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}
/* Navbar */
.navbar {
    background-color: #2a3d56;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    width: 50px;
    
}
.wname{
    font-size: 30px;
    color:white;
    margin-left: 10px;
   
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar ul li {
    
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    gap:5px;
    margin-left:auto;
    padding: 0%;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #4CAF50;
}

.navbar .theme-toggle {
    background: none;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
/* Theme Toggle Icon Styling */
.theme-toggle {
    cursor: pointer;
    margin-left: auto;
    padding: 10px;
}

.theme-toggle img {
    width: 30px;
    height: 30px;
}

/* Dark Mode Styling */
.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

.dark-mode .navbar,
.dark-mode footer {
    background-color: #1e1e1e;
}

.dark-mode .feature-card {
    background-color: #2a2a2a;
    border: 1px solid #444;
}

.dark-mode a,
.dark-mode .btn {
    color: #ffd700;
}
.dark-mode .extracard{
    background-color: #2a2a2a;
    border: 1px solid #444;
}
/* Course Page */
.course-content {
    padding: 50px 20px;
    background-color: #fff;
}

.course-content h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

#course-search {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course-card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.course-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.course-card p {
    color: #666;
}

.course-card a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #4CAF50;
    font-size: 16px;
}
/* Footer */
footer {
    background-color: #2a3d56;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 16px;
}